<nav>
  <div>
    <h1><a href="/">MiniMessage Board</a></h1>
    <p>Learning Node and Express!</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/new">New Post</a></li>
  </ul>
</nav>