<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <br>
    <form method="post" action="/new">
      <label for="message">Message:</label>
      <input type="text" id="message" name="messageText">
      <label for="user">User:</label>
      <input type="text" id="user" name="userText">
      <button type="submit">Post</button>
    </form>
  </body>
</html>
